 <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div ng-include=" 'views/blocks/header.html '" ></div>      
      
            <!-- /.navbar-top-links -->

            <div ng-include=" 'views/blocks/aside.html '" ></div>           
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" ui-view>
        </div>
        <!-- /#page-wrapper -->

    </div>
     